@import '../../ThemeVariables';

#Chat-Container {
    display: flex;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

#Chat-Left {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#Chat-Header {
    font-weight: 300;
    padding: 10px 20px;
    h1 {
        font-size: 22px;
        font-weight: 500;
    }
    #Chat-Search {
        margin: 10px 0px;
        width: 90%;
        height: 10px;
        border-radius: 16px;
        border: 2px solid $background-color;
        padding: 10px 15px;
        font-size: 14px;
    }
}

#Chat-Messages {
    height: 100%;
    overflow-y: auto;
}

#Chat-Right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#Chat-Identifier {
    display: flex;
    padding-left: 50px;
}

#Chat-Box {
    flex: 1;
    overflow-y: auto;
    background-color: $background-color;
}

#Chat-Message-Box {
    padding: 20px;
    display: flex;
    #Message-Box {
        font-size: 15px;
        padding: 10px;
        flex: 1;
        margin: 0px 10px;
        border-radius: 10px;
        border: 2px solid $background-color;
    }
}

.Chat-Section {
    border: 1px solid $border-color;
    padding: 10px;
}