.dragDropContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 35px;
    height: 35px;
  }
}

// Master Variables Container
.masterVariablesContainer {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 1.5rem;
}

// Custom Input Fields Container
.customInputsContainer {
  h2 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }
}

.dragDropList {
  height: 90px;
  min-width: 200px;
  max-width: 500px;
  width: auto;
  overflow: auto;

  img {
    width: 35px;
    height: 35px;
  }
}

.input-list {
  .input {
    color: transparent;
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;

  .removeButton {
    vertical-align: middle;
    margin-right: 5px;
  }

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
    top: 100%;
    white-space: nowrap;
    display: none;
  }

  &:hover .tooltip {
    display: block;
  }
}
