@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.warning-msg {
    color: red;
}

.myContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   

    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg,#020f42,#216aa9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg,#020f42,#216aa9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#button1{
    //background-color: rgb(66, 64, 75);
    background-color: #7d98fa;
    border-style:ridge;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 17px;
    //font-family: Inter; font-size: 17px;
    color: white;
    border-radius: 20px;
    width: 80%;
    text-align: center;

    border: 0;
    outline: 0;
}

#button2{
    background-color: #4cc9cf;
    border-style:ridge;
    padding: 20px;
    //font-family: Inter; font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 17px;
    color: white;
    border-radius: 20px;   
    width: 80%;
    margin-bottom: 15%;
    text-align: center;

    border: 0;
    outline: 0;
    margin-top: 5px;
}

#button1 .fa-google {
    margin-right: 8px; // Adjust this value to control the spacing
}

#button2 .fa-amazon {
    margin-right: 8px; // Adjust this value to control the spacing
}

#button1, #button2 {
    animation: fade-in 1.5s;
    margin: 10px auto;
    &:hover {
        background-color: rgb(131, 141, 145);
        color: white;
        cursor: pointer;
    }
}

#myh2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 17px;
    margin-bottom: 10px;
    color:#1b1d1c;
    font-size: 25px;
}

.Login{
    display: flex;
    justify-content: start;
    align-items: center; 
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    width: 700px;
    height: 400px;

    border-radius: 25px 25px 25px 25px;
    animation: fade-in-from-top 0.5s;
    box-shadow: 5px 6px;   
    padding-top: 100px;
}

