// Typography

.body {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.heading {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.subheading {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(70, 70, 70);
}

// Colors

$primary-color: #5CCDDE;
$subheading-color: #585858;
$border-color: #EDEFEF;
$background-color: #F9F9F9;