.note {
  width: auto;
  height: 180px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-title {
  padding-left: 20px;
  margin-top:-20px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  cursor: pointer;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button img {
  width: 24px;
  height: 24px;
}

.note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  padding: 5px;
}

.note-item {
  cursor: pointer;
  width: 90%;
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-item span {
  width: 80%;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.icons {
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.icons img {
  width: 24px;
  height: 24px;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
}

.edit-modal h3 {
  margin-top: 0;
  color: #333;
}

.edit-modal label {
  display: block;
  margin: 10px 0;
}

.edit-modal input,
.edit-modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s ease-in;
}

.edit-modal input:focus,
.edit-modal textarea:focus {
  outline: none;
  border-color: #007bff;
}

.edit-modal textarea {
  width: 100%;
  height: 250px;
  resize: none;
}

.edit-modal button {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.2s ease-in;
}

.edit-modal button:hover {
  background-color: #0056b3;
}

.edit-modal button:last-child {
  margin-right: 0;
}
