.top-doc {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  .doc-detail {
    width: auto;
    height: 26px;
    display: flex;
    gap: 100px;
    font-size: 20px;
    font-weight: 500;
  }
}
.doc-title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  img {
    width: 24px;
    height: 29px;
    cursor: pointer;
  }
}

.bottom-doc {
  display: flex;
  margin: 28px 20px 0 20px;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .doc-title {
    font-weight: 400;
  }

  .doc-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .version-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;

    .version-item {
      width: 320px;
      display: flex;
      justify-content: space-between;
      .version {
        width: 50%;
        margin-left: 25px;
      }
      .date {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
